@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../public/fonts_clash/ClashDisplay-Bold.otf');
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../public/fonts_clash/ClashDisplay-Extralight.otf');
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../public/fonts_clash/ClashDisplay-Light.otf');
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../public/fonts_clash/ClashDisplay-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../public/fonts_clash/ClashDisplay-Regular.otf');
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('../public/fonts_clash/ClashDisplay-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-Black.otf');
}
@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-BlackItalic.otf');
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-BoldItalic.otf');
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-Italic.otf');
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-Light.otf');
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-LightItalic.otf');
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-MediumItalic.otf');
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts_satoshi/Satoshi-Regular.otf');
  font-weight: 400;
}

#navbar {
  background: white;
  /* mix-blend-mode: normal; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(15px); */
}

.sidebar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  transform: translate(-100%);
  padding: 1.5rem 1.875rem 0 1.875rem;
}

.show-sidebar {
  transform: translateY(0);
}
/* 
.sidebar-toggle {
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s linear infinite;
} */

/* @keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
} */
